@import '../partial';

.pageStructure4 {
    @extend %pageStructure;
}

.topStructure4 {
    @extend %topStructure;
}

.cardWrapper4 {
    @extend %cardWrapper;
}

.cardWrapper4:hover {
    background: rgb(185, 183, 183);
}
        
.name4 {
    @extend %prodTitle;
}

.cardImg4 {
    @extend %cardImg;
}
       
.descrip4 {
    @extend %descrip;
}

.kolacheBody {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    
    h1 {
        @extend %name;
    }
}

.mainDisplay4 {@extend %mainDisplay};

.leftCol4 {@extend %leftCol;}

.rightCol4 {@extend %rightCol;}

.kolacheDisplay {
   @extend %middleCol;
}

.butt3 { 
    @extend %butt;
}

