@import '../partial';

$mainColor: #F58220;
$chosenFont: 'Mukta', sans-serif;
$secondaryColor: #001D4A;

.cartDisplay {
    display: flex;
    flex-direction: column;
}

.cartBody {
    margin-top: 14vh;

    th {
        margin-bottom: -2vh;
    }
}

.cartTitle {
    font-family: $chosenFont;
    font-size: 2em;
    text-align: center;
    margin-bottom: 4vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-top: 1px solid $mainColor
}

.test { 
    background: black;
}