@import '../partial';

.pageStructure2 {@extend %pageStructure;}

.topStructure2 {@extend %topStructure;}

.cardWrapper2 {@extend %cardWrapper;}

.cardWrapper2:hover {
    background: rgb(185, 183, 183);
}
        
.name2 {@extend %prodTitle;}

.cardImg2 {@extend %cardImg;}
       
.descrip2 {@extend %descrip;}

.cakeBody {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}
.price2 {
    margin-bottom: 1vh;
}

.pageTopic2 {@extend %name;}

.butt2 {@extend %butt};

.mainDisplay2 {@extend %mainDisplay};

.leftCol2 {@extend %leftCol};

.rightCol2 {@extend %rightCol};

.cakeDisplay {@extend %middleCol};

@media (max-width: 414px) {
    .pageTopic2 {
        width: 150px;
        height: 20px;
        font-size: .9em;
        text-align: center;
        margin-top: 11vh;
    }

    .cakeBody {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
}