@import '../partial';

.pageStructure2 {
    @extend %pageStructure;
}

.topStructure2 {
    @extend %topStructure;
}

.cardWrapper2 {
    @extend %cardWrapper;
}
        
.name2 {
    @extend %prodTitle;
}

.cardImg2 {
    @extend %cardImg;
}
       
.descrip2 {
    @extend %descrip;
}

.cakeBody {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    
    h1 {
        @extend %name;
    }
}

.butt2 {
    @extend %butt;
}

.mainDisplay2 {
    display: flex;
}

.leftCol2 {@extend %leftCol;}

.rightCol2 {@extend %rightCol;}

.cakeDisplay {
   @extend %middleCol;
}

