$mainColor: #F58220;
$chosenFont: 'Mukta', sans-serif;


.mainHome {
    display: flex;
    flex-direction: column;
    position: relative;
    top: auto;
    z-index: -1;
}

.mainPic9 {
    width: 99vw;
    height: auto;
    margin-top: none;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.mainPic8 {
    width: 99vw;
    height: auto;
    margin-top: none;
    position: absolute;
    top: 135.5vh;
    z-index: 1;
}

.mainPic5 {
    width: 99vw;
    height: auto;
    margin-top: none;
    position: absolute;
    top: 297.5vh;
}

.space1 {
    height: 500vh;
}

@media (max-width: 1024px) {
    .mainPic9 {
        width: 100vw; 
    }

    .mainPic8 {
        width: 100vw;
        top: 50vh;
    }

    .mainPic5 {
        width: 100vw;
        top: 110vh;
    }
}

@media (max-width: 414px) {

    .mainPic8 {
        top: 37vh;
    }

    .mainPic5 {
        top: 82vh;
    }
}

@media (max-width: 375px) {

    .mainPic8 {
        top: 30vh;
    }

    .mainPic5 {
        top: 67vh;
    }
}
