$mainColor: #F58220;
$chosenFont: 'Mukta', sans-serif;
$secondaryColor: #001D4A;

.mainHome {
    display: flex;
    flex-direction: column;
    position: relative;
    top: auto;
    z-index: -1;
}

.site-info {
    top: 25vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Noto Serif SC', serif;
    font-size: 2em;
    z-index: 1;
    background: white;
    width: 50vw;
    line-height: 6vh;
    color: $mainColor;
    font-weight: bold;
    border-radius: 8px;
    padding: 12px;
    opacity: .9
}

.mainPic9 {
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

.space1 {
    height: 500vh;
}

@media (max-width: 1024px) {
    .mainPic9 {
        width: 100vw; 
    }

    .mainPic8 {
        width: 100vw;
        top: 50vh;
    }

    .mainPic5 {
        width: 100vw;
        top: 110vh;
    }

    .site-info {
        top: 15vh;
        font-size: 2.5em;
        width: 70vw;
    }
}

@media (max-width: 768px) {
    .site-info {
        top: 15vh;
        font-size: 2.3em;
        width: 75vw;
        line-height: 5vh;
    }
}

@media (max-width: 414px) {

    .mainPic8 {
        top: 37vh;
    }

    .mainPic5 {
        top: 82vh;
    }

    .site-info {
        top: 10vh;
        font-size: 1.2em;
        width: 75vw;
    }
}

@media (max-width: 375px) {

    .mainPic8 {
        top: 30vh;
    }

    .mainPic5 {
        top: 67vh;
    }

    .site-info {
        top: 10vh;
        font-size: 1em;
        width: 75vw;
        line-height: 4vh;
    }
}
