$mainColor: #F58220;
$chosenFont: 'Mukta', sans-serif;


.mainHome {
    display: flex;
    flex-direction: column;
    position: relative;
    top: auto;
    z-index: -1;
}

.mainPic {
    width: 100vw;
    height: 84vh;
    margin-top: none;
    position: absolute;
    top: 16%;
    bottom: 0;
}
