@import '../partial';

.cardWrapper8 {@extend %cardWrapper}

.cardWrapper8:hover {
    background: rgb(185, 183, 183);
}
        
.name8 {@extend %name};

.cardImg8 {@extend %cardImg;}
       
.descrip8 {@extend %descrip;}

.prodImg {@extend %cardImg};

.prodImg::placeholder {
    padding-left: .1vw;
    color: black;
}

.prodName::placeholder {
    padding-left: .1vw;
    color: black;
}

.prodType::placeholder {
    padding-left: .1vw;
    color: black;
}

.prodDesc::placeholder {
    padding-left: .1vw;
    color: black;
}

.prodName {@extend %prodTitle};

.prodType {@extend %prodType};

.prodDesc {@extend %descrip};

.adminButts {
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-content: center;
    align-items: baseline;
    background: $secondaryColor;
    border-radius: 5px;
    font-family: $chosenFont;
}

.butt8 {
    border-radius: 5px;
    width: 4vw;
    height: 4vh;
    background: $secondaryColor;
    border: none;
    color: rgb(75, 206, 75);
    margin-top: .5vh;
    font-family: $chosenFont;
    font-size: 1em;
}

.delete {
    border-radius: 5px;
    width: 2vw;
    height: 4vh;
    background: $secondaryColor;
    border: none;
    color: red;
    font-size: 1em;
}

.cancel {
    border-radius: 5px;
    width: 4vw;
    height: 4vh;
    background: $secondaryColor;
    border: none;
    color: white;
    font-family: $chosenFont;
    font-size: 1em;

}

.firstAdmin {@extend %pageStructure;}  

.secAdmin {@extend %topStructure;}

.adminTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 14vh;
}

.pageAdmin {
    width: 60vw;
    height: 5vh;
    font-size: 2em;
    text-decoration: underline;
    font-family: $chosenFont;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 1vh;
    border-top: 1px solid $mainColor;
}

.addNewButt {
    border: none;
    background: $secondaryColor;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 30px
}

.adminBody {@extend %mainDisplay};

.adminLeft {@extend %leftCol;}

.adminDisplay {@extend %middleCol;}

.adminRight {@extend %rightCol;}

.showAddForm {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 2;
    margin-top: 0vh;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 34vw;
    height: 58vh;
    background: white;
    border-radius: 8px;
    box-shadow: 3px 3px black;
    border: 1px solid $secondaryColor;

    h1 {
        color: #001D4A;
        font-size: 30px;
        font-weight: bold;
        margin-top: 30px;
    }
}

.subButt {
    border-radius: 6px;
    width: 80px;
    background: $mainColor;
    height: 30px;
    font-size: 14px;
    color: white;
    border: 1px solid $secondaryColor;
    margin-top: 30px;
}

.addNew {
    margin-right: 10px;
    width: 325px;
    border-radius: 5px;
    height: 3vh;
    padding: 0px 4px;
    border: 1px solid $mainColor;
    margin-bottom: 10px;
    margin-top: 30px;
}

button:active {
    background-color: #001D4A;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

button:hover {background-color: #001D4A}

.inp::placeholder {
    color: #001D4A;
    padding: 0px 4px;
    font-weight: bold;
    opacity: .3;
}

.hideAddForm {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 0vw;
    height: 0vh;
}   


@media (max-width: 1024px) {
    .pageAdmin {
        margin-top: 8vh;
        padding-top: 1vh;
        border-top: 1px solid $mainColor;
    }
    
    .addNewButt {
        margin-top: -2vh;
    }
    
    .showAddForm {
        width: 30vw;
        height: 35vh;;
        font-size: 1em;
    }
    
    .addNew {
        margin-left: 1vw;
        width: 22vw;
        height: 3vh;
    }
    
    .adminTitle {
        margin-top: .5vh;
    }
}

@media (max-width: 768px) {
    .showAddForm {
        width: 30vw;
        height: 35vh;
        font-size: .8em;

        h1 {
            margin-bottom: 1vh;
            margin-top: 1vh;
        }
    }

    .subButt {
        margin-bottom: 2vh;
    }
    
    .addNew {
        margin-left: 1vw;
        width: 22vw;
        height: 3vh;
        margin-top: 1.3vh;
    }

    .addNewButt {
        margin-top: -2vh;
    }
}

@media (max-width: 414px) {
    .pageAdmin {
        margin-top: 6vh;
        padding-top: 1vh;
        font-size: 1.3em;
       
    }

    .addNewButt {
        font-size: .7em;
        width: 24vw;
        height: 4vh;
        margin-bottom: 2vh;
    }

    .showAddForm {
        width: 36vw;
        height: 30vh;
        font-size: .8em;
        top: 18.5vh;

        h1 {
            margin-bottom: 1vh;
            margin-top: 1vh;
            font-size: 1.3em;
        }
    }

    .subButt {
       margin-top: 1vh;
       width: 15vw;
    }
    
    .addNew {
        width: 26vw;
        height: 3vh;
        margin-top: .7vh;
    }

    .addNew::placeholder {
        font-size: .7em;
    }
}

@media (max-width: 320px) {
    .pageAdmin {
        margin-top: 6vh;
        padding-top: 1vh;
        font-size: .9em;
    }

    .addNewButt {
        font-size: .5em;
        width: 24vw;
        height: 4vh;
        margin-bottom: 1vh;
    }

    .showAddForm {
        width: 36vw;
        height: 28vh;
        font-size: .8em;
        top: 18.2vh;
        
        h1 {
            margin-bottom: 1vh;
            margin-top: 1vh;
            font-size: 1.1em;
        }
    }

    .subButt {
        font-size: .7em;
        width: 13vw;
        height: 3vh;
    }
    
    .addNew {
        width: 25vw;
        height: 2vh;
        margin-top: .3vh;
    }

    .addNew::placeholder {
        font-size: .6em;
    }
}