@import '../partial';

.cardWrapper8 {@extend %cardWrapper}

.cardWrapper8:hover {
    background: rgb(185, 183, 183);
}
        
.name8 {@extend %name};

.cardImg8 {@extend %cardImg;}
       
.descrip8 {@extend %descrip;}

.prodImg {@extend %prodTitle};

.prodImg::placeholder {
    padding-left: .1vw;
    color: black;
}

.prodName::placeholder {
    padding-left: .1vw;
    color: black;
}

.prodType::placeholder {
    padding-left: .1vw;
    color: black;
}

.prodDesc::placeholder {
    padding-left: .1vw;
    color: black;
}

.prodName {@extend %prodTitle};

.prodType {@extend %prodType};

.prodDesc {@extend %descrip};

.adminButts {
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: $chosenFont;
    margin-bottom: 10px;
}

.reportLink {
    position: absolute;
    color: white;
    right: 80vw;
    left: 20vw;
    margin: auto;
    top: 15.5vh;
    text-decoration: none;
    cursor: pointer;
    font-family: $chosenFont;
    font-size: 1.3em;
    background: $mainColor;
    width: 6vw;
    height: 3vh;
    text-align: center;
    border: 1px solid $secondaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2.5px 2.5px gray;
    border-radius: 5px;
}

.typePriceCont {
    display: flex;
}

.butt8 {
    background-image: url('../../images/floppy-disk.png');
    width: 17px;
    height: 20px;
    cursor: pointer;
}

.delete {
    background-image: url('../../images/delete.png');
    width: 17px;
    height: 20px;
    cursor: pointer;
}

.cancel {
    border-radius: 5px;
    width: 50px;
    height: 20px;
    background: $secondaryColor;
    border: none;
    color: white;
    font-family: $chosenFont;
    font-size: .8em;
    cursor: pointer;
}

.firstAdmin {@extend %pageStructure;}  

.secAdmin {@extend %topStructure;}

.adminTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 14vh;
}

.pageAdmin {
    width: 100vw;
    height: 5vh;
    font-size: 2.2em;
    font-family: $chosenFont;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 1vh;
    border-top: 1px solid $mainColor;
}

.addNewButt {
    border: none;
    background: $secondaryColor;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 30px
}

.searchCont {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 15vw;
    top: 15.5vh; 
}

.searchBox {
    border-radius: 4px;
    height: 2.5vh;
    width: 12vw;
    padding: 0px 3px;
    box-shadow: 2.5px 2.5px gray;
    border: 3px solid $mainColor;
}

.searchIcon {
    width: 21px;
    height: 21px;
    padding-right: 1vw;
    position: absolute;
    right: 12.5vw;
    top: .5vh;
}

.adminBody {@extend %mainDisplay};

.adminLeft {@extend %leftCol;}

.adminDisplay {@extend %middleCol;}

.adminRight {@extend %rightCol;}

.showAddForm {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 2;
    margin-top: 0vh;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 34vw;
    height: 58vh;
    background: white;
    border-radius: 8px;
    box-shadow: 3px 3px black;
    border: 1px solid $secondaryColor;

    h1 {
        color: #001D4A;
        font-size: 30px;
        font-weight: bold;
        margin-top: 30px;
    }
}

.subButt {
    border-radius: 6px;
    width: 80px;
    background: $mainColor;
    height: 30px;
    font-size: 14px;
    color: white;
    border: 1px solid $secondaryColor;
    margin-top: 30px;
}

.addNew {
    margin-right: 10px;
    width: 325px;
    border-radius: 5px;
    height: 3vh;
    padding: 0px 4px;
    border: 1px solid $mainColor;
    margin-bottom: 10px;
    margin-top: 30px;
}

.priceType {
    display: flex;
}

.addPrice {
    margin-right: 10px;
    width: 154px;
    border-radius: 5px;
    height: 3vh;
    padding: 0px 4px;
    border: 1px solid $mainColor;
    margin-bottom: 10px;
    margin-top: 30px;
}

.addProdT {
    margin-right: 10px;
    width: 154px;
    border-radius: 5px;
    height: 3vh;
    padding: 0px 4px;
    border: 1px solid $mainColor;
    margin-bottom: 10px;
    margin-top: 30px;
}

.prodType {
    font-size: 1.2em;
    width: 100px;
    height: auto;
    font-family: $chosenFont;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.prodPrice {
    font-size: 1.2em;
    width: 100px;
    height: auto;
    font-family: $chosenFont;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 5px;
}

button:active {
    background-color: #001D4A;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

button:hover {background-color: #001D4A}

.inp::placeholder {
    color: #001D4A;
    padding: 0px 4px;
    font-weight: bold;
    opacity: .3;
}

.hideAddForm {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 0vw;
    height: 0vh;
}   

@media (max-width: 1024px) {
    .pageAdmin {
        margin-top: 8vh;
        padding-top: 1vh;
        border-top: 1px solid $mainColor;
    }
    
    .addNewButt {
        margin-top: -2vh;
    }
    
    .showAddForm {
        width: 30vw;
        height: 35vh;;
        font-size: 1em;
    }
    
    .addNew {
        margin-left: 1vw;
        width: 22vw;
        height: 3vh;
    }

    .addProdT {
        width: 10vw;
        margin-left: 1vw;
    }

    .addPrice {
        width: 10vw;
    }
    
    .adminTitle {
        margin-top: .5vh;
    }

    .butt8 {
        width: 20px;
        height: 20px;
    }
    
    .delete {
        width: 16px;
        height: 21px;
    }
    
    .cancel {
        width: 46px;
        height: 20px;
        color: white;
        font-size: .8em;
    }

    .reportLink {
        top: 9.5vh;
        font-size: 1em;
        height: 2vh;
        border-radius: 5px;
    }

    .searchCont {
        right: 11vw;
        top: 9.5vh; 
    }
    
    .searchBox {
   
        height: 2vh;
        width: 14vw;
        padding: 0px 3px;
    }
    
    .searchIcon {
        right: 15vw;
    }
}


@media (max-width: 768px) {
    .showAddForm {
        width: 30vw;
        height: 35vh;
        font-size: .8em;

        h1 {
            margin-bottom: 1vh;
            margin-top: 1vh;
        }
    }

    .subButt {
        margin-bottom: 2vh;
    }
    
    .addNew {
        margin-left: 1vw;
        width: 22vw;
        height: 3vh;
        margin-top: 1.3vh;
    }

    .addProdT {
        margin-top: 1vh;
    }

    .addPrice {
        margin-top: 1vh;
    }

    .addNewButt {
        margin-top: -2vh;
    }

    .butt8 {
        width: 20px;
        height: 20px;
    }
    
    .delete {
        width: 17px;
        height: 20px;
    }
    
    .cancel {
        width: 46px;
        height: 2opx;
        color: white;
        font-size: .8em;
    }

    .reportLink {
        top: 9.5vh;
        width: 7vw;
        font-size: .8em;
        height: 2vh;
    }

    .pageAdmin {
        font-size: 1.7em;
    }
}

@media (max-width: 414px) {
    .pageAdmin {
        font-size: 1.3em;
    }
    .addNewButt {
        font-size: .6em;
        width: 22vw;
        height: 3vh;
        margin-bottom: 2vh;
    }

    .showAddForm {
        width: 36vw;
        height: 30vh;
        font-size: .8em;
        top: 18.5vh;

        h1 {
            margin-bottom: 1vh;
            margin-top: 1vh;
            font-size: 1.3em;
        }
    }

    .subButt {
       margin-top: 1vh;
       width: 15vw;
    }
    
    .addNew {
        width: 26vw;
        height: 3vh;
        margin-top: .7vh;
    }

    .addProdT {
        width: 6vh;
        height: 3vh;
        margin-top: .7vh; 
    }

    .addPrice {
        width: 6vh;
        height: 3vh;
        margin-top: .7vh; 
    }

    .addPrice::placeholder {
        font-size: .7em;
    }

    .addProdT::placeholder {
        font-size: .7em;
    }

    .addNew::placeholder {
        font-size: .7em;
    }
    
    .cancel {
        width: 30px;
        height: 20px;
        color: white;
        font-size: 1em;
    }

    .reportLink {
        top: 9.5vh;
        width: 11vw;
        font-size: .8em;
        height: 2.5vh;
    }

    .searchCont {
        right: 7vw
    }
    
    .searchBox {
   
        height: 2vh;
        width: 16vw;
        padding: 0px 3px;
    }
    
    .searchIcon {
        right: 18vw;
        width: 16px;
        height: 16px;
    }

}

@media (max-width: 320px) {
    .pageAdmin {
        margin-top: 6vh;
        padding-top: 1vh;
        font-size: 1em;
    }

    .addNewButt {
        font-size: .5em;
        width: 24vw;
        height: 3vh;
        margin-bottom: 1vh;
    }

    .showAddForm {
        width: 36vw;
        height: 28vh;
        font-size: .8em;
        top: 18.2vh;
        
        h1 {
            margin-bottom: 1vh;
            margin-top: 1vh;
            font-size: 1.1em;
        }
    }

    .subButt {
        font-size: .7em;
        width: 13vw;
        height: 3vh;
    }
    
    .addNew {
        width: 25vw;
        height: 2vh;
        margin-top: .3vh;
    }

    .addProdT {
        width: 9.5vw;
        height: 2vh;
        margin-top: .3vh;
    }

    .addPrice {
        width: 9.5vw;
        height: 2vh;
        margin-top: .3vh;
    }

    .addNew::placeholder {
        font-size: .6em;
    }

    .reportLink {
        top: 7.5vh;
        width: 12vw;
        font-size: .6em;
        height: 2vh;
        border-radius: 3px;
        left: 13vw;
    }

    .searchCont {
        right: 7vw;
        top: 7.5vh;
    }
    
    .searchBox {
        height: 1.5vh;
        width: 16vw;
        padding: 0px 2px;
        border: 2px solid $mainColor;
    }

    .searchBox::placeholder { 
        font-size: .7em;
    }
    
    .searchIcon {
        right: 18vw;
        width: 12px;
        height: 12px;
        top: .25vh;
        margin-right: 1vw;
    }
}