@import '../partial';
$chosenFont: 'Mukta', sans-serif;
$mainColor: #F58220;

.aboutName {@extend %name;}

.aboutWrapper {
    display: flex;

    .bodMid {
        flex-wrap: wrap;
        width: 60vw;
        height: 60vh;

        .spacer {
            height: 4vh;
        }

        .picText {
            display: flex;
            position: absolute;
            right: 0;
            left: 0;
            margin-left: 10vw;
            margin-right: 10vw;
            border-left: 1px solid $mainColor;

            img {
                width: 30vw;
                max-height: 40vh;
                border-radius: 10px;
                margin-left: 2vw;
                margin-right: 2vw;
            }

            p {
                padding-right: 2vw;
                font-size: 1.3em;
                font-family: $chosenFont;
                border-right: 1px solid $mainColor;
                height: 510px;
                margin-bottom: 2vh;
            }

        }
    }
}

.title {
    display: flex;
    width: 100vw;
    justify-content: center;
    padding-top: 2.3vw;
    padding-bottom: 5px;
}



