@import '../partial';

.pageStructure {
    @extend %pageStructure;
}

.topStructure {
    @extend %topStructure;
}

.cardWrapper {
    @extend %cardWrapper;
}

.cardWrapper:hover {
    background: rgb(185, 183, 183);
}
        
.name {
    @extend %prodTitle;
}

.cardImg {
    @extend %cardImg;
}
       
.descrip {
    @extend %descrip;
    color: w;
}

.drinkBody {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

.pageTopic {
    @extend %name;
}

.mainDisplay {@extend %mainDisplay};

.leftCol {@extend %leftCol;}

.rightCol {@extend %rightCol;}

.drinkDisplay {
   @extend %middleCol;
}

.butt { 
    @extend %butt;
}

@media (max-width: 1199px) {
    .pageTopic {
        width: 150px;
        height: 20px;
        font-size: 1.3em;
        text-align: center;
        margin-top: -20px;
    }
}

