@import '../partial';

.pageStructure {
    @extend %pageStructure;
}

.topStructure {
    @extend %topStructure;
}

.cardWrapper {
    @extend %cardWrapper;
}
        
.name {
    @extend %prodTitle;
}

.cardImg {
    @extend %cardImg;
}
       
.descrip {
    @extend %descrip;
    color: w;
}

.drinkBody {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    
    h1 {
        @extend %name;
    }
}

.mainDisplay {
    display: flex;
}

.leftCol {@extend %leftCol;}

.rightCol {@extend %rightCol;}

.drinkDisplay {
   @extend %middleCol;
}

