$mainColor: #F58220;
$chosenFont: 'Mukta', sans-serif;
$secondaryColor: #001D4A;

.link {
    text-decoration: none;
    margin-right: 1vw;
    padding-top: .2vh;
    padding-left: 2vh;
    border-right: 2px solid white;
    padding-right: 1vw;
    color: #001D4A;
    font-weight: bold;
    font-size: 1.2em;
    font-family: $chosenFont;
    padding-left: 2.5vw;
    padding-right: 3.7vw;
}

.link2 {
    text-decoration: none;
    margin-right: 1vw;
    font-family: $chosenFont;
    padding-top: .2vh;
    padding-right: 5vw;
    margin: 0;
    padding-left: 4vh;
    color: #001D4A;
    font-weight: bold;
    font-size: 1.2em;
}

.homeLogo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 8px;
    width: 26vw;
    height: 12vh;
    z-index: 3;
    border-radius: 0  0 30px 30px;
}

.homeInput {
    min-width: 20vw;
    min-height: 4vh;
    border-radius: 5px;
    padding: 4px;
    margin-top: 7vh;
}

.homeInput2 {
    min-width: 20vw;
    min-height: 4vh;
    border-radius: 5px;
    padding: 4px;
}

.homeInput::placeholder {
    color: $mainColor;
    font-family: $chosenFont;
    font-size: 1.3em;
    font-weight: bold;
    opacity: .6;
}

.homeInput2::placeholder {
    color: $mainColor;
    font-family: $chosenFont;
    font-size: 1.3em;
    font-weight: bold;
    opacity: .6;
}

.homeButt {
    border-radius: 6px;
    min-width: 10vw;
    background: $mainColor;
    padding: 6px;
    min-height: 8vh;
    font-size: 1.8em;
    color: white;
    border: none;
    
}
  
.homeButt:hover {background-color: #001D4A}
  
.homeButt:active {
    background-color: #001D4A;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}
.reglink {
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: $chosenFont;
    border: none;
    border-radius: 4px;
    padding: .4vh;
    margin-bottom: 2vh;
    background: #001D4A;
}

.loginLink {
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: $chosenFont;
    margin-bottom: 2vh;
    border: none;
    border-radius: 4px;
    padding: .2vh;
    background: #001D4A;
}

.hideNav {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 0vw;
    height: 0vh;
}

.showRegNav {
    position: absolute;
    z-index: 4;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20vh;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 21vw;
    height: 50vh;
    background: white;
    border-radius: 8px;
    box-shadow: 3px 3px black;
    border: 1px solid $secondaryColor;

    input {
        width: 15vw;
        border-radius: 5px;
        height: 3vh;
        padding: 0px 4px;
        border: 1px solid $mainColor;
    }

    h1 {
        color: #001D4A;
        font-size: 30px;
        margin-top: -3vh;
        font-weight: bold;
    }

    button {
        border-radius: 6px;
        min-width: 80px;
        background: $mainColor;
        height: 30px;
        font-size: 14px;
        color: white;
    }
}

button:active {
    background-color: #001D4A;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

button:hover {background-color: #001D4A}

.inp::placeholder {
    color: #001D4A;
    padding: 0px 4px;
    font-weight: bold;
    opacity: .3;
}

.hideRegNav {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 0vw;
    height: 0vh;
}  

.cartLink {
    font-family: $chosenFont;
    border: none;
    border-radius: 5px;
    padding: .5vh;
    font-weight: bold;
    font-size: 1em;
    position: fixed;
    z-index: 3;
    right: 6vw;
    top: .3vh;
    text-decoration: none;
    color: black;
    height: 2vh;
    width: 9vw;
}

.buttCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5vh;
    width: auto;
    margin-top: 1.5vh;
    padding-left: 2vw;
}

.showRegLogin {
    position: absolute;
    z-index: 4;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20vh;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 70vh;
    background: black;
}

.logHead {
    color: #001D4A;
    font-size: 3em;
    min-width: 22vw;
    min-height: 5vw;
    color: white;
    position: absolute;
    top: 4vh;
    text-align: center;
}

.burgButton {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0 8px 8px 0;
    border: 2px solid $mainColor;
    color: $mainColor;
    height: 5.5vh;
    min-width: 7vw;
    font-size: 1.3em;
    z-index: 3;
    font-family: $chosenFont;
    opacity: .9;
}

.fullDropDownMenu {
    position: fixed;
    z-index: 5;
    background: white;
    border: 2px solid $mainColor;
    height: 65vh;
    width: 18vw;
    border-radius: 0 8px 8px 0;
    box-shadow: 2px 2px 2px 2px gray;
    left: 0;
    top: 5.6vh;
    transition: 1s;
    font-family: $chosenFont;
    opacity: .9;
}

.hideFullDropMenu {
    position: fixed;
    z-index: 5;
    background: white;
    height: 0px;
    width: 13vw;
    left: 0;
    top: 5.6vh;
    transition: 1s;
}

.fullDropDownMenuText { 
    display: flex;
    flex-direction: column;
}

.link4 {
    color: $mainColor;
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
    padding-left: 9px;
    cursor: pointer;
    opacity: .9;
    line-height: 6.5vh;
    border-radius: 0 8px 8px 0;
}

.link4:hover {
    background: $secondaryColor;
}

.hideRegLogin {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 0vw;
    height: 0vh;
}  

homeButt:active {
    background-color: #001D4A;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.body-toast {
    width: 103vw !important;
    height: 6vh;
    background: $secondaryColor !important;
    color: white !important ;
    font-family: $chosenFont !important;
    padding: 8px !important;
    margin: 3px !important;
    border-radius: 3px !important;
}

.dark-toast {
    width: 103vw !important;
    background: $secondaryColor !important;
    color: white !important;
    border-radius: 5px !important;
    margin-left: -2vw !important;
}

@media (max-width: 1024px) {
    .burgButton {
        width: 16vw;
        height: 5vh;
        font-size: 2.2em;
    }

    .cartLink {
        width: 18vw;
        height: 4vh;
        font-size: 2em;
    }

    .fullDropDownMenu {
        width: 30vw;
        height: 51vh;
        top: 4.9vh;
    }

    .hideFullDropMenu {
        top: 4.9vh;
    }

    .link4 {
        font-size: 2.1em;
        line-height: 5vh;
    }

    .homeLogo {
        width: 33vw;
        height: 8vh
    }

        .homeButt {
            min-width: 20vw;
            min-height: 6vh;
            font-size: 2.5em;
         
        }

    .showRegNav {
        margin-top: 10vh;
        width: 28vw;
        height: 40vh;
    
        input {
            width: 20vw;
            height: 3vh;
        }
    
        h1 {
            font-size: 2em;
            margin-top: -2vh;
        }
    
        button {
            min-width: 10vw;
            height: 3vh;
            font-size: 1.2em;
        }
    }

    .logHead {
        width: 30vw;
        height: 8vw;
        font-size: 4em;
    }

    .homeInput, .homeInput2 {
        min-width: 30vw;
        padding: 6px;
        font-size: 2.2em;
    }
}

@media (max-width: 768px) {
    .burgButton {
        width: 15vw;
        height: 5vh;
        font-size: 1.5em;
    }

    .homeButt {
            border-radius: 6px;
            min-width: 25vw;
            min-height: 6vh;
            font-size: 2.2em;
    }

    .homeInput {
        min-width: 50vw;
        font-size: 1.6em;
    }

    .homeInput2 {
        min-width: 50vw;
        font-size: 1.6em;
    }

    .logHead {
        font-size: 3.5em;
    }

    .fullDropDownMenu {
        width: 32vw;
        height: 51vh;
    }

    .link4 {
        font-size: 1.7em;
    }

    .homeLogo {
        width: 32vw;
        height: 9vh
    }

    .cartLink {
        width: 18vw;
        font-size: 1.4em;
    }

    .showRegNav {
        margin-top: 8vh;
    
        h1 {
            font-size: 1.5em;
        }
    }
}

@media (max-width: 414px) {
    .burgButton {
        width: 22vw;
        line-height: 4vh;
        font-size: 1.1em;
    }

    .homeButt {
        min-width: 28vw;
        min-height: 7vh;
        font-size: 1.3em;
    }

    .homeInput {
        min-width: 20vw;
        font-size: 1.3em;
    }

    .homeInput2 {
        min-width: 20vw;
        font-size: 1.3em;
    }

    .logHead {   
        font-size: 2.3em;
    }

    .cartLink {
        font-size: .8em;
        width: 15vw;
        height: 2vh;
    }

    .fullDropDownMenu {
        width: 50vw;
        height: 50vh;
        top: 5vh;
        border: 3px solid $mainColor;
    }

    .link4 {
        font-size: 1.6em;
        line-height: 5vh;
    }

    .hideFullDropMenu {
        top: 5vh;
    }

    .homeLogo {
        width: 34vw;
        height: 8vh
    }

    .showRegNav {
        margin-top: 7vh;
        height: 28vh;
    
        h1 {
            font-size: .9em;
        }

        input {
            width: 18vw;
            height: 2vh;
        }
    
        button {
            min-width: 8vw;
            height: 3vh;
            font-size: .9em;
        }
    }
}

@media (max-width: 375px) {
    .burgButton {
        width: 23vw;
        font-size: 1em;
    }

    .logHead {
        font-size: 2em;
    }

    .homeButt {
        min-width: 25vw;
        height: 2.7vh;
        font-size: 1.3em;
    }

    .homeInput {
        min-width: 30vw;
        min-height: 2vh;
        font-size: 1.2em;
    }

    .homeInput2 {
        min-width: 30vw;
        min-height: 2vh;
        font-size: 1.2em;
    }

    .cartLink {
        font-size: .8em;
        height: 2vh;
        width: 20vw
    }

    .fullDropDownMenu {
        width: 50vw;
        height: 55vh;
        top: 5vh;
    }

    .hideFullDropMenu {
        top: 5vh;
    }

    .link4 {
        font-size: 1.5em;
        line-height: 5.5vh;
    }

    .homeLogo {
        width: 34vw;
        height: 8vh
    }

    .showRegNav {
        margin-top: 6vh;
        height: 26vh;
    
        h1 {
            font-size: .7em;
        }

        input {
            width: 17vw;
            height: 2vh;
        }
    
        button {
            min-width: 7vw;
            height: 2.7vh;
            font-size: .6em;
        }
    }

    .inp::placeholder {
        color: #001D4A;
        font-size: .7em;
        padding: 0px 4px;
        font-weight: bold;
        opacity: .3;
    }
}

@media (max-width: 320px) {
    .link4 {
        font-size: 1.3em;
    }

    .fullDropDownMenu {
        height: 55vh;
        width: 50vw;
    }

    .logHead {
        font-size: 1.8em;
    }

    .homeButt {
        min-width: 25vw;
        height: 2.7vh;
        font-size: 1.3em;
    }

    .homeInput {
        min-width: 25vw;
        min-height: 2vh;
        font-size: 1em;
    }

    .homeInput2 {
        min-width: 25vw;
        min-height: 2vh;
        font-size: 1em;
    }
}


