.mainPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.homeHeadWrapper {
    display: flex;
    width: 98vw;
    height: 5vh;
    justify-content: flex-end;
}
.homeNavBar {
    display: flex;
    width: 100vw;
    background: #F58220;
    justify-content: center;
    list-style-type: none;
    padding-top: .5vh;
    height: 4vh;
    margin-top: 6vh;
}
.link {
    text-decoration: none;
    margin-right: 1vw;
    padding-left: 2vh;
    border-right: 2px solid white;
    padding-right: 1vw;
    color: white;
    font-weight: bold;
    margin: 0;
    padding-left: 3vw;
    padding-right: 3vw;
}
.link2 {
    text-decoration: none;
    margin-right: 1vw;
    padding-right: 1vw;
    color: black;
    margin: 0;
    padding-left: 4vh;
    color: white;
    font-weight: bold;
}
.homeLogo {
    width: 15vw;
    height: 10vh;
    align-items: center;
    align-content: center;
    padding-right: 8vw;
}
.homeInput {
    width: 10vw;
    height: 3vh;
    margin-top: 4vh;
    margin-right: 2vh;
    border-radius: 4px;
    border: 1px solid #F58220;
}
.homeInput::placeholder {
    color: #F58220;
    text-indent: 5px;
}
.homeButt {
    min-width: 4vw;
    height: 3vh;
    margin-top: 4vh;
    margin-right: 1vw;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #F58220;
    border: none;
    box-shadow: 0 3px #999;
  }
  
  .homeButt:hover {background-color: #3e8e41}
  
  .homeButt:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}
.reglink {
    text-decoration: none;
    margin-top: 4.5vh;
    min-width: 4vw;
    height: 3vh;
    margin-top: 4vh;
    margin-right: 1vw;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #F58220;
    border: none;
    box-shadow: 0 3px #999;
  }
  
  .reglink:hover {background-color: #3e8e41}
  
  .reglink:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}
.mainHome {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 75vh;
}
.mainPic {
    width: 100vw;
    height: 86vh;
    margin-top: none;
    position: absolute;
    bottom: 0;
}
