$mainColor: #F58220;
$chosenFont: 'Mukta', sans-serif;
$secondaryColor: #001D4A;

.mainPage {
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 7vw;
    margin-left: 3vw;
    margin-top: .97vh;
    margin-bottom: 1.05vh;
    min-width: 70px;
    min-height: 30px;
    border-radius: 6px;
    background: white;
}

.facebook {  
    background-image: url('../../images/facebook.png');
    background-size: cover;
    background-position: center;
    width: 28px;
    height: 27px;
}

.instagram {
    background-image: url('../../images/instagram.png');
    background-size: cover;
    background-position: center;
    width: 28px;
    height: 27px;
}

.homeHeadWrapper {
    display: flex;
    width: 100vw;
    height: 5vh;
    justify-content: space-between;
}

.homeNavBar {
    display: flex;
    width: 100vw;
    background: $mainColor;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    height: 5vh;
    margin-top: 6vh;
}

.link {
    text-decoration: none;
    margin-right: 1vw;
    padding-top: .2vh;
    padding-left: 2vh;
    border-right: 2px solid white;
    padding-right: 1vw;
    color: #001D4A;
    font-weight: bold;
    font-size: 1.2em;
    font-family: $chosenFont;
    padding-left: 2.5vw;
    padding-right: 3.7vw;
}

.link2 {
    text-decoration: none;
    margin-right: 1vw;
    font-family: $chosenFont;
    padding-top: .2vh;
    padding-right: 5vw;
    margin: 0;
    padding-left: 4vh;
    color: #001D4A;
    font-weight: bold;
    font-size: 1.2em;
}

.homeLogo {
    width: 15vw;
    height: 10vh;
    padding-left: 4.5vw;
    align-items: center;
    align-content: center;
}

.homeInput {
    width: 15vw;
    height: 3vh;
    border-radius: 5px;
    padding: 0px 4px;
    border: 1px solid #001D4A
}

.homeInput::placeholder {
    color: $mainColor;
    font-family: $chosenFont;
    font-weight: bold;
    opacity: .6;
}

.homeButt {
    border-radius: 6px;
    min-width: 80px;
    background: $mainColor;
    height: 30px;
    font-size: 14px;
    color: white;
}
  
.homeButt:hover {background-color: #001D4A}
  
.homeButt:active {
    background-color: #001D4A;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}
.reglink {
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: $chosenFont;
    border: none;
    border-radius: 4px;
    padding: .4vh;
    margin-bottom: 2vh;
    background: #001D4A;
}

.loginLink {
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: $chosenFont;
    margin-bottom: 2vh;
    border: none;
    border-radius: 4px;
    padding: .2vh;
    background: #001D4A;
}

.dropNav {
    position: absolute;
    margin-top: 16vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 11.2vw;
    height: auto;
    background: #001D4A;
    margin-left: 49.7vw;
    border-radius: 4px;
    
    .cd {
        display: flex;
        color: white;
        text-decoration: none;
        justify-content: center;
        padding-top: 1vh;
    }
}

.hideNav {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 0vw;
    height: 0vh;
}

.showRegNav {
    position: absolute;
    margin-top: 20vh;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 21vw;
    height: 50vh;
    background: white;
    margin-left: 39.3vw;
    border-radius: 8px;
    box-shadow: 3px 3px black;
    border: 1px solid $secondaryColor;

    input {
        width: 15vw;
        border-radius: 5px;
        height: 3vh;
        padding: 0px 4px;
        border: 1px solid $mainColor;
    }

    h1 {
        color: #001D4A;
        font-size: 30px;
        margin-top: -3vh;
        font-weight: bold;
    }

    button {
        border-radius: 6px;
        min-width: 80px;
        background: $mainColor;
        height: 30px;
        font-size: 14px;
        color: white;
    }
}

button:active {
    background-color: #001D4A;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

button:hover {background-color: #001D4A}

.inp::placeholder {
    color: #001D4A;
    padding: 0px 4px;
    font-weight: bold;
    opacity: .3;
}

.hideRegNav {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 0vw;
    height: 0vh;
}   

.userWelc {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    width: 10vw;
    height: 5vh;
    padding-right: 5vw;
    justify-content: flex-start;
    align-items: flex-start;

    .cartOut {
        display: flex;
        flex-direction: column;
    }
    
    .cartLinks {
        font-family: $chosenFont;
        font-weight: bold;;
        font-size: 15px;
        margin-top: 10px;
        text-decoration: none;
        color: black
    }

    .logOut { 
        margin-top: 1vh;
        text-decoration: none;
        font-size: 15px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        color: white;
        font-family: $chosenFont;
        border: none;
        border-radius: 4px;
        padding: .2vh;
        height: 5vh;
        background: $mainColor;
    }
}

.buttCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5vh;
    width: auto;
    margin-top: 1.5vh;
    padding-left: 2vw;
}

.showRegLogin {
    position: absolute;
    margin-top: 20vh;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 21vw;
    height: 50vh;
    background: white;
    margin-left: 39.3vw;
    border-radius: 8px;
    box-shadow: 3px 3px black;
    border: 1px solid #001D4A;

    h1 {
        color: #001D4A;
        font-size: 30px;
        margin-top: -3vh;
        font-weight: bold;
    }
}

.hideRegLogin {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 0vw;
    height: 0vh;
}  

homeButt:active {
    background-color: #001D4A;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

