@import '../partial';

$chosenFont: 'Mukta', sans-serif;

%address {
    display: flex;
    flex-direction: column;
    padding-right: 2vw;
}

%loc {
    text-decoration: underline;
    padding-bottom: 1vh;
}

%addressWrap {
    display: flex;
    font-family: $chosenFont;
    padding-left: 1vw;
    font-size: 1.15em;
}

%icon {
    display: flex;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 13vw;
    border-left: 1px solid #F58220;
}

%googleMap {
    width: 45vw;
    height: 10vw;
    padding-right: 5vw;
    border-right: 1px solid #F58220
}

.pageTitle {
    display: flex;
    justify-content: center;
    padding-top: 2.3vw;
    padding-bottom: 5px;
}

.googleMap {
    @extend %googleMap;
}

.icon {
    @extend %icon;
}

.address {
    @extend %addressWrap;

    .addressText {
        @extend %address;

        .loc1 {
            @extend %loc;
        }
    }
}

.map2 {
    display: flex;
    margin-bottom: 180px;
}

.address2 {
    @extend %addressWrap;

    .addressText2 {
        @extend %address;

        .loc2 {
            @extend %loc;
        }
    }
}

.icon2 {
    @extend %icon;
    margin-top: 8vh;
}

.googleMap2 {
    @extend %googleMap;
}

.social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: .97vh;
    margin-bottom: 1.05vh;
    min-width: 35px;
    min-height: 30px;
    border-radius: 6px;
    background: white;
}

.facebook {  
    background-image: url('../../images/facebook.png');
    background-size: cover;
    background-position: center;
    width: 28px;
    height: 27px;
    margin-right: 5px;
}

.instagram {
    background-image: url('../../images/instagram.png');
    background-size: cover;
    background-position: center;
    width: 28px;
    height: 27px;
}

.pageTopicCont {@extend %name;}