@import '../partial';

$chosenFont: 'Mukta', sans-serif;
$mainColor: #F58220;
$secondaryColor: #001D4A;

$chosenFont: 'Mukta', sans-serif;

%address {
    display: flex;
    flex-direction: column;
    padding-right: 2vw;
}

%loc {
    text-decoration: underline;
    padding-bottom: 1vh;
}

%addressWrap {
    display: flex;
    font-family: $chosenFont;
    padding-left: 1vw;
    font-size: 1.15em;
}

%icon {
    display: flex;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 13vw;
    border-left: 1px solid #F58220;
}

%googleMap {
    width: 45vw;
    height: 10vw;
    padding-right: 5vw;
    border-right: 1px solid #F58220
}

.pageTitle {
    display: flex;
    justify-content: center;
    padding-top: 2.3vw;
    padding-bottom: 5px;
}

.googleMap {
    @extend %googleMap;
}

.icon {
    @extend %icon;
}

.address {
    @extend %addressWrap;

    .addressText {
        @extend %address;

        .loc1 {
            @extend %loc;
        }
    }
}

.map2 {
    display: flex;
}

.address2 {
    @extend %addressWrap;

    .addressText2 {
        @extend %address;

        .loc2 {
            @extend %loc;
        }
    }
}

.icon2 {
    @extend %icon;
    margin-top: 3vh;
}

.googleMap2 {
    @extend %googleMap;
}

.social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: .97vh;
    margin-bottom: 1.05vh;
    min-width: 35px;
    min-height: 30px;
    border-radius: 6px;
    background: white;
}

.facebook {  
    background-image: url('../../images/facebook.png');
    background-size: cover;
    background-position: center;
    width: 28px;
    height: 27px;
    margin-right: 5px;
}

.instagram {
    background-image: url('../../images/instagram.png');
    background-size: cover;
    background-position: center;
    width: 28px;
    height: 27px;
}

.topTitle {
    display: flex;
    justify-content: space-between;
}

.mailButton {
    background: $mainColor;
    font-size: .8em;
    font-family: $chosenFont;
    border: none;
    color: white;
    border-radius: 4px; 
}

.contactTitle {
    font-size: 1.3em;
    font-family: $chosenFont;
    padding-bottom: 1vh;
    text-align: center;
    color: white;
}

.firstLast {
    display: flex;
    
}

.first {
    width: 12vw;
    height: 3vh;
    margin-right: 2vw;
    margin-top: 1vh;
    border-radius: 3px;
    border: .5px solid $secondaryColor;
    padding: 0px 3px;
}

.first::placeholder, .last::placeholder, .email::placeholder, .message::placeholder {
    font-family: $chosenFont;
    padding-left: 3px;
}

.last {
    width: 12vw;
    height: 3vh;
    margin-top: 1vh;
    border-radius: 3px;
    border: .5px solid $secondaryColor;
    padding: 0px 3px;
}

.email {
    width: 18vw;
    height: 3vh;
    margin-top: 1vh;
    border-radius: 3px;
    border: .5px solid $secondaryColor;
    padding: 0px 3px;
}

.message {
    width: 29.5vw;
    margin-top: 1vh;
    border-radius: 3px;
    border: .5px solid $secondaryColor;
    padding: 0px 3px;
}

.contactUs{
    display: flex;
    border: 3px solid $mainColor;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 4vh;
    padding: 1vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 1vh;
    height: 25vh;
    width: 30vw;
    background: black;
    border-radius: 5px;
}

.pageTopicCont {@extend %name;}

@media (max-width: 1024px) {
    .pageTopicCont {
        font-size: 1.7em; 
        margin-top: 10vh;
    }

    .googleMap {
        width: 40vw;
        height: 17vw;
        padding-right: 5vw;
        border-right: 1px solid #F58220
    }
}

@media (max-width: 768px) {
    .pageTopicCont {
        font-size: 1.5em; 
        margin-top: 10vh;
    }

    .donutPic {
        width: 4vh;
        height: 4vh;
    }

    .addressText {
        font-size: .9em;
    }

    .addressText2 {
        font-size: .9em;
    }

    .googleMap {
        width: 37vw;
        height: 20vw;
        padding-right: 5vw;
        border-right: 1px solid #F58220
    }
}

@media (max-width: 414px) {
    .pageTopicCont {
        font-size: 1.2em; 
        margin-top: 11vh;
    }

    .donutPic {
        width: 3vh;
        height: 3vh;
    }

    .addressText {
        font-size: .7em;
    }

    .addressText2 {
        font-size: .7em;
    }

    .googleMap {
        width: 29vw;
        height: 28vw;
        padding-right: 5vw;
        border-right: 1px solid #F58220
    }
}

@media (max-width: 320px) {
    .pageTopicCont {
        font-size: .8em; 
        margin-top: 11vh;
    }

    .donutPic {
        width: 3vh;
        height: 3vh;
    }

    .addressText {
        font-size: .6em;
    }

    .addressText2 {
        font-size: .6em;
    }

    .googleMap {
        width: 29vw;
        height: 30vw;
        padding-right: 5vw;
        border-right: 1px solid #F58220
    }
}