$mainColor: #F58220;
$chosenFont: 'Mukta', sans-serif;

.headerSetup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headLogo {
    width: 15vw;
    height: 10vh;
    justify-content: center;
    padding-right: 0vw;
    align-items: center;
    align-content: center;
}

.navBar {
    display: flex;
    width: 100vw;
    background: $mainColor;
    justify-content: center;
    list-style-type: none;
    padding-top: .5vh;
    padding-bottom: .5vh;
    height: 2vh;
    margin-top: 1vh;
}

.links {
    text-decoration: none;
    font-family: $chosenFont;
    margin-right: 1vw;
    padding-top: .2vh;
    padding-left: 2vh;
    border-right: 2px solid white;
    padding-right: 1vw;
    margin: 0;
    padding-left: 3vw;
    padding-right: 3vw;
    color: #001D4A;
    font-weight: bold;
    font-size: 1.2em;
}

.links2 {
    text-decoration: none;
    font-family: $chosenFont;
    margin-right: 1vw;
    padding-top: .2vh;
    padding-right: 5vw;
    margin: 0;
    padding-left: 4vh;
    color: #001D4A;
    font-weight: bold;
    font-size: 1.2em;
}

.toggleOpt {
    width: 17vh;
    height: 1vh;
    margin-left: 10vw;

    .dropNav2 {
        position: absolute;
        margin-top: .01vh;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 165px;
        height: auto;
        background: #001D4A;
        margin-left: -1vw;
        border-radius: 4px;
        
        .cd2 {
            display: flex;
            color: white;
            text-decoration: none;
            justify-content: center;
            padding-top: 1vh;
            
    
        }
    }
}

.hideNav2 {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 0vw;
    height: 0vh;
}