.mappedCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 40vh;


    img {
        width: 18vw;
        height: 38vh;
    }
}

