$chosenFont: 'Mukta', sans-serif;
$mainColor: #F58220;
$secondaryColor: #001D4A;

%mainDisplay {
    display: flex;
    justify-content: center;
}

%pageStructure {
    display: flex;
}

%topStructure {
    padding-left: 0px;
}

%name {
    width: 300px;
    height: 30px;
    font-size: 2em;
    text-decoration: underline;
    font-family: $chosenFont;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -20px;
}

%cardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

%cardImg {
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    font-family: $chosenFont;
}

%prodTitle {
    font-size: 1.2em;
    width: 200px;
    height: auto;
    font-family: $chosenFont;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 5px;
}

%prodType {
    width: 200px;
    height: auto;
    font-family: $chosenFont;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 5px;
}

%descrip {
    width: 200px;
    height: auto;
    font-family: $chosenFont;
    font-size: .95em;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
}

%butt {
    margin-bottom: 10px;
    background: #001D4A;
    color: white;
    border-radius: 5px;
    border: none;
    height: auto;
    width: 100px;
    font-family: $chosenFont;
    font-size: 1em;
    text-align: center;
}

%leftCol {
    width: 35px;
    height: 520px;
}

%rightCol {
    width: 35px;
    height: auto;
}

%middleCol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 84vw;
}
