$chosenFont: 'Mukta', sans-serif;
$mainColor: #F58220;
$secondaryColor: #001D4A;

%pageStructure {
    display: flex;
}

%topStructure {
    padding-left: 0px;
}

%cardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 22vw;
    height: 66vh;
    border-radius: 6px;
    padding-top: 1.5vh;
    background: $mainColor;
    margin-bottom: 1.5vh;
    border: 3px solid $secondaryColor;
}

%butt {
    margin-top: 3.5vh;
    background: #001D4A;
    color: white;
    border-radius: 5px;
    border: none;
    height: 4vh;
    width: 8vw;
    font-family: $chosenFont;
    font-size: 1em;
    text-align: center;
}

%name {
    width: 20vw;
    height: 5vh;
    font-size: 2em;
    text-decoration: underline;
    font-family: $chosenFont;
    text-align: center;
    margin-bottom: 20px;
}

%cardImg {
    width: 18vw;
    height: 38vh;
    border-radius: 6px;
    margin-bottom: 10px;
    border: 3px solid $secondaryColor;
}

%descrip {
    width: 18vw;
    height: 5vw;
    font-family: $chosenFont;
}

%prodTitle {
    font-size: 1.2em;
    font-family: $chosenFont;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
}

%leftCol {
    width: 8vw;
    height: auto;
}

%rightCol {
    width: 8vw;
    height: auto;
}

%middleCol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 84vw;
}
