.prodInfoCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    width: 80vw;
    height: 70vh;
    background: grey;
}

.infoPic {
    display: flex;
    width: 40vw;
    height: 50vh;
}